<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
        <link rel="stylesheet" href="../../CSS/Footer.css">
    </head>
    <body>
        <div class="flex-container">
            <div class="flex">
                <div class="text">
                    <h3>Get over 100 million songs free for 1 month.</h3>
                    <br/>
                </div>
                <div class="text1"> 
                <p>Plus your entire music library on all your devices.1 month free, then $10.99/month.</p>
                </div>
            </div>
                <span>
                    <button>
                        Try it Free
                    </button>
                </span>
        
        </div>
    </body>
</html>