<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
        <link rel="stylesheet" href="../../CSS/Header.css">
        <script src="https://kit.fontawesome.com/8387c82ad3.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="flex-container">
            <div class="music">
                <div class="play">
                    <button class="shuffle-button">
                        <i class="fa-solid fa-shuffle"></i>
                    </button>
                    <button class="backward-button">
                        <i class="fa-solid fa-backward"></i>
                    </button>
                    <button class="play-button">
                        <i class="fa-solid fa-play"></i>
                    </button>
                    <button class="forward-button">
                        <i class="fa-solid fa-forward"></i>
                    </button>
                    <button class="repeat-button">
                        <i class="fa-solid fa-repeat"></i>
                    </button>
                </div>
                <div class="music-symbol">
                    <div id="music">
                      <i class="fa-solid fa-music"></i>
                    </div>
                    <div class="playlist-preview">
                        <i class="fa-brands fa-apple"></i>
                    </div>
                    <div class="volume">
                    <i class="fa-solid fa-volume-high"></i>
                </div>
                <div class="sign-in">
                    <div class="menu">                                                                                                                                                        
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="sign-in-button">
                        <button>
                            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                            <span class="material-symbols-outlined" style="color: white;">
                                person
                            </span>
                            <span style="color: white;margin-top: 0px;">Sign In</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>