<!DOCTYPE html>
<html>
    <head>
        <title>Devi Sri Prasad-Apple Music</title>
        <link rel="stylesheet" href="..\..\CSS\SideBar.css">
    </head>
    <body>
        <div class="side-bar">
            <div class="Items">
                <div class="Icon">
                    <img src="apple.jpg" alt="apple icon" width="19px" height="19px">
                    <span>Music</span>
                </div>
                <div class="search">
                    <form>
                        <input type="search" placeholder="Search">
                    </form>
                </div>
                <div class="home">
                    <span class="material-symbols-outlined">
                        home
                        </span>
                        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                        <span>Home</span>
                </div>
                <div class="browse">
                    <span class="material-symbols-outlined">
                        browse
                        </span>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
                    <span >Browse</span>
                </div>
                <div class="radio">
                    <span class="material-symbols-outlined">
                        infrared
                        </span>
                        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                        <span>Radio</span>
                </div>
                <div  class="music">
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                    <span class="material-symbols-outlined">
                        music_note
                        </span>
                        <span>Open in music</span>
                        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                        <span class="material-symbols-outlined">
                            north_east
                            </span>
                </div>
                <div class="beta">
                    <span >Try beta</span>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                        <span class="material-symbols-outlined">
                            north_east
                            </span>
                </div>
            </div>
        </div>
    </body>
</html>